@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,400,700,900&subset=latin-ext");
body > main > section > section h2, body > main > section > section section h1, #welcome h1, #sponsors .sponsor h1 {
  float: left;
  padding: .3em .5em;
  border-radius: .3em;
  margin: 0 .4em 0 0;
  background: #ff2b00;
  color: white;
  font: bold 80%/1.2 Lato, Helvetica Neue, sans-serif;
  text-transform: uppercase; }
  body > main > section > section h2 a, body > main > section > section section h1 a, #welcome h1 a, #sponsors .sponsor h1 a {
    color: inherit; }

@font-face {
  font-family: "UIST2017 Icons";
  src: url(../fonts/uist2017-icons.woff); }

* {
  margin: 0; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin: 0;
  min-height: 100vh;
  background: white;
  font: 300 100%/1.5 Lato, Helvetica Neue, sans-serif;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-synthesis: none; }

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
  font-family: Arvo, serif;
  font-weight: normal;
  line-height: 1.2; }
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-weight: inherit; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }
  p a {
    color: #3d748f; }
    p a[href^="http://"]::after, p a[href^="https://"]::after {
      content: " ↗️";
      color: #4d91b3; }

img {
  max-width: 100%; }

body > header {
  padding: 1em 0 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../images/header.jpg") top/cover #4d91b3;
  color: white;
  text-align: center;
  font-size: 120%;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2); }
  body > header .register {
    display: inline-block;
    padding: .4em 1em .5em;
    border: .15em solid white;
    border-radius: .3em;
    font-weight: bold; }
    body > header .register:hover {
      text-decoration: none;
      background: white;
      color: black;
      mix-blend-mode: screen;
      text-shadow: none; }
  body > header .logo {
    font: inherit;
    filter: drop-shadow(0 0 0.3em rgba(0, 0, 0, 0.3)); }
    body > header .logo:hover {
      text-decoration: none; }
  body > header h1.wordmark {
    display: inline-block;
    margin: 0;
    margin-top: .1em;
    width: 4.2em;
    max-width: 100%;
    max-width: calc(100vw - 1.8em);
    font: 900 600%/.8 'Helvetica LT Black', 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif; }
    body > header h1.wordmark img {
      width: 100%; }
  body > header h2 {
    font: inherit;
    font-size: 90%;
    line-height: 1; }
    @media (max-width: 600px) {
      body > header h2 {
        font-size: 80%; } }
  body > header img[property=image] {
    display: block;
    height: 9.5em;
    margin: auto; }
  @media (max-width: 600px) {
    body > header:not(.compact) .logo {
      font-size: 60%; } }
  body > header p {
    padding: .5em;
    font: 100%/1.6 Arvo, serif; }
    @media (min-width: 800px) {
      body > header p {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        text-align: right;
        font-size: 120%; } }
    body > header p .place, body > header p time {
      display: block; }
      body > header p .place::before, body > header p time::before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 100%/1 "UIST2017 Icons", emoji;
        color: #ff2b00;
        margin-right: .8rem; }
    body > header p .place::before {
      content: "📍"; }
    body > header p time {
      font-weight: bold;
      font-size: 105%; }
      body > header p time::before {
        content: "📅"; }
  body > header nav {
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.4); }
    body > header nav ul {
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      list-style: none; }
    body > header nav li {
      -ms-flex: 1;
      flex: 1; }
    body > header nav a {
      display: block;
      padding: .3em .5em; }
      body > header nav a:hover {
        background: #ff2b00;
        text-decoration: none;
        mix-blend-mode: screen; }
    body > header nav [aria-current] {
      box-shadow: 0 .3em black; }
      body > header nav [aria-current] a {
        box-shadow: 0 0.3em #ff2b00; }
  body > header.compact {
    background-position: 50% 15%; }
    body > header.compact nav {
      margin-top: 1em; }
    body > header.compact .logo {
      display: -ms-flexbox;
      display: flex;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: 2rem; }
    body > header.compact img[property=image] {
      height: 4.8em;
      margin-right: .5em; }
    body > header.compact hgroup {
      -ms-flex: 1;
      flex: 1;
      text-align: left;
      font-size: 65%; }
      body > header.compact hgroup h2 {
        margin-bottom: 0; }
    @media (max-width: 800px) {
      body > header.compact p {
        display: none; } }

[aria-level="2"], body > main > h2,
body > main > section > h1 {
  color: #ff2b00;
  font-size: 220%; }

[aria-level="3"], body > main > h3, body > main > section > section > h1,
body > main > section > h2 {
  font-weight: bold;
  color: #4d91b3;
  margin-top: 1.2em; }

body > main {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em; }
  body > main > h1 {
    padding: 0;
    color: #4d91b3;
    font: 900 300%/1 Lato, Helvetica Neue, sans-serif; }
    @media (min-width: 500px) {
      body > main > h1 {
        font-size: 450%; } }
  body > main section {
    margin: 1.5em 0; }
  body > main > section > section h2, body > main > section > section section h1 {
    margin-top: 1.2em;
    background: #82b2c9; }
    body > main > section > section h2 + p, body > main > section > section section h1 + p {
      margin-top: 1em; }
  body > main > * {
    width: 60rem;
    max-width: 90vw; }
    @media (min-width: 1600px) {
      body > main > * {
        width: 75rem; } }
  body > main :not(h1):not(h2):not(h3) + p {
    margin-top: 1em; }

body > footer {
  position: relative;
  padding: 1em;
  background: #c9dee8;
  font-weight: bold; }
  body > footer small {
    display: block;
    color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 500px) {
    body > footer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center; }
      body > footer > :first-child {
        width: 46rem;
        max-width: calc(100vw - 18.5em); } }
    @media (min-width: 500px) and (min-width: 1600px) {
      body > footer > :first-child {
        width: 61rem; } }
  @media (min-width: 1300px) {
    @keyframes hue-rotate {
      to {
        filter: hue-rotate(360deg); } }
    body > footer::before {
      content: "";
      position: absolute;
      bottom: 1em;
      right: 1em;
      width: 100px;
      height: 120px;
      background: url("../logo.svg") center/contain no-repeat;
      animation: hue-rotate 25s linear infinite paused; }
    body > footer:hover::before {
      animation-play-state: running; } }

.social a {
  display: inline-block;
  min-width: 1em;
  padding: .6em;
  margin: 0 .1em;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100%/1 "UIST2017 Icons", emoji;
  font-size: 120%;
  background: gray;
  background: var(--color); }
  .social a:hover {
    color: gray;
    color: var(--color);
    background: white; }

.social a[title="Facebook"] {
  --color: #3b5998; }

.social a[title="Twitter"] {
  --color: #1da1f2; }

.social a[title="YouTube"] {
  --color: #cd201f; }

.social a[title="Flickr"] {
  --color: #ff0084; }

.social a[title="Github"] {
  --color: #333; }

#welcome {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column; }
  #welcome p {
    margin: 0; }
  #welcome strong, #welcome a {
    color: rgba(0, 0, 0, 0.7); }
  @media (min-width: 800px) {
    #welcome {
      font-size: 125%;
      -ms-flex-flow: row;
      flex-flow: row; } }

#sponsors {
  display: -ms-flexbox;
  display: flex; }
  #sponsors .sponsor {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    background: #e4eef4;
    padding: .5em;
    border-radius: .5em;
    margin: 0;
    margin-right: 1em; }
    #sponsors .sponsor h1 {
      margin-right: 0;
      background: #a6c8d9;
      font-size: 100%; }
    #sponsors .sponsor a {
      margin: auto; }
    #sponsors .sponsor img {
      display: block;
      height: 3em;
      margin: 1.5em 1em; }

#registration .centered {
  text-align: center; }

#registration .regbutton {
  background: #e4eef4;
  padding: .5em 1.5em;
  border-radius: .5em;
  margin: 1.0em;
  display: inline-block;
  font-size: 100%; }
  #registration .regbutton a {
    margin: auto; }

#registration table.regprice {
  margin-bottom: 2em; }

table {
  width: 100%;
  border-spacing: 0; }
  table thead {
    color: rgba(0, 0, 0, 0.5);
    font: bold 100% Arvo, serif; }
  table th, table td {
    padding: .4em .5em; }
  table th {
    text-align: left; }
  table tbody tr:nth-child(odd) {
    background: #fff2f0; }

table.dates {
  margin: 1em 0; }
  table.dates caption {
    color: #ff2b00;
    font: bold 150%/1.5 Arvo, serif; }
  table.dates tbody td:empty::before {
    content: "TBD"; }
  table.dates tbody th {
    font-weight: normal; }
    @media (min-width: 600px) {
      table.dates tbody th[aria-label]::after {
        content: attr(aria-label);
        display: inline-block;
        padding: .4em .5em;
        margin-left: .5em;
        border-radius: .3em;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font: bold 80%/1 Lato, Helvetica Neue, sans-serif;
        text-transform: uppercase; }
      table.dates tbody th[aria-label="deadline"]::after {
        background: #70a7c2; } }
  table.dates tbody td {
    display: -ms-flexbox;
    display: flex; }
    table.dates tbody td time {
      font-weight: bold; }
    table.dates tbody td .countdown {
      -ms-flex: 1;
      flex: 1;
      color: rgba(0, 0, 0, 0.6); }
      @media (min-width: 800px) {
        table.dates tbody td .countdown {
          text-align: right; }
          table.dates tbody td .countdown::before {
            content: " ("; }
          table.dates tbody td .countdown::after {
            content: ")"; } }
    @media (max-width: 800px) {
      table.dates tbody td {
        -ms-flex-flow: column;
        flex-flow: column; } }

table#sponsorship-levels {
  min-width: 620px;
  border-collapse: collapse;
  table-layout: fixed;
  border: 2px solid #d9d9d9; }
  table#sponsorship-levels td, table#sponsorship-levels th {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  table#sponsorship-levels th {
    line-height: 1.4;
    text-align: center; }
    @media (max-width: 900px) {
      table#sponsorship-levels th {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto; } }
    table#sponsorship-levels th small {
      display: block;
      font-weight: normal;
      font-size: 70%; }
    @media (max-width: 800px) {
      table#sponsorship-levels th small {
        display: none; } }
  table#sponsorship-levels td {
    vertical-align: middle;
    height: 2.4rem; }
  table#sponsorship-levels th:nth-child(1) {
    width: 3em; }
  table#sponsorship-levels th:nth-child(2) {
    width: 3em; }
  table#sponsorship-levels th:nth-child(3) {
    width: 10%; }
  table#sponsorship-levels th:nth-child(4) {
    width: 18%; }
  table#sponsorship-levels tr:nth-child(2) th {
    font-size: 75%; }
  table#sponsorship-levels th:nth-child(n + 5):nth-child(-n + 7) {
    width: 12%; }
  @media (min-width: 900px) {
    table#sponsorship-levels th:nth-child(3) {
      width: 12%; }
    table#sponsorship-levels td:nth-child(3)::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: .5em;
      --ticket-width: 1em;
      --ticket-height: var(--ticket-width);
      width: calc(var(--registrations) * var(--ticket-width) / var(--rows, 1));
      height: calc(var(--rows, 1) * var(--ticket-height));
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">				<circle r="40" cx="60" cy="50" fill="hsl(80,100%,40%)" />				</svg>');
      background-size: var(--ticket-width) var(--ticket-height);
      font-size: 110%; } }
  table#sponsorship-levels tbody td:nth-child(n + 3):nth-child(-n + 9) {
    background: rgba(221, 255, 153, 0.5);
    color: #669900;
    font-weight: bold; }
    table#sponsorship-levels tbody td:nth-child(n + 3):nth-child(-n + 9):empty {
      background: rgba(255, 0, 0, 0.1);
      color: rgba(173, 31, 31, 0.7); }
      table#sponsorship-levels tbody td:nth-child(n + 3):nth-child(-n + 9):empty::before {
        content: "✘"; }
  table#sponsorship-levels tbody td:nth-child(n + 4):nth-child(-n + 9) {
    text-align: center; }
  table#sponsorship-levels tbody tr:nth-child(odd) {
    background: #f7f7f7; }

@media (min-width: 750px) {
  #organizers {
    columns: 2; }
    #organizers > h1 {
      column-span: all; } }

@media (min-width: 1600px) {
  #organizers {
    columns: 3; } }

#organizers > section,
section.organizers {
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: .01em 1em .5em;
  margin: .6em 0;
  border-radius: .3em;
  border: 0.1em solid #d2e3ec;
  background: #e6f0f4; }
  #organizers > section > h1,
  section.organizers > h1 {
    margin-bottom: .0em;
    font-size: 120%; }
  #organizers > section a[href^=mailto],
  section.organizers a[href^=mailto] {
    display: block;
    margin-bottom: .8em;
    font-weight: 400;
    color: #4d91b3; }

@keyframes wobble {
  33.3% {
    transform: rotate(10deg); }
  66.6% {
    transform: rotate(-10deg); } }
    #organizers > section a[href^=mailto]::before,
    section.organizers a[href^=mailto]::before {
      content: "✉";
      display: inline-block;
      margin-right: .4em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font: 100%/1 "UIST2017 Icons", emoji;
      color: #ff2b00;
      animation: wobble .5s infinite paused; }
    #organizers > section a[href^=mailto]:hover::before,
    section.organizers a[href^=mailto]:hover::before {
      animation-play-state: running;
      color: #4d91b3; }
  #organizers > section article,
  section.organizers article {
    margin: .5em 0;
    clear: both; }
    #organizers > section article h1,
    section.organizers article h1 {
      margin: 0;
      font-weight: bold;
      font-size: 120%; }
    #organizers > section article > a,
    section.organizers article > a {
      font-weight: 300; }
    #organizers > section article img,
    section.organizers article img {
      float: left;
      width: 3em;
      height: 3em;
      margin-right: 1em;
      object-fit: cover;
      border-radius: 50%; }

#toc {
  padding: .8em 0;
  margin-bottom: 1em;
  background: #f1f6f9;
  box-shadow: -50vw 0 #f1f6f9, 50vw 0 #f1f6f9; }
  @media (min-width: 500px) {
    #toc.compact::before {
      content: "Jump to section: ";
      text-transform: uppercase;
      font-size: 80%;
      font-weight: 900;
      color: #4d91b3; } }
  #toc.compact a {
    display: inline-block;
    padding: .1em .5em;
    margin: .2em;
    border-radius: .3em;
    background: #d2e3ec;
    font-weight: 900; }
    #toc.compact a:hover {
      background: #4d91b3;
      color: #d2e3ec;
      text-decoration: none; }
  @media (min-width: 800px) {
    #toc:not(.compact) {
      column-count: 2; } }
  #toc:not(.compact)::before {
    content: "On this page";
    display: block;
    font-weight: 900;
    font-size: 150%;
    color: #4d91b3;
    column-span: all; }
  #toc:not(.compact) a {
    display: block; }

@media (min-width: 550px) {
  #program-committee table {
    columns: 2; }
  #program-committee thead {
    column-span: all; } }

#program-committee tr, #program-committee td, #program-committee table, #program-committee thead, #program-committee tbody {
  display: block; }

#program-committee tr {
  padding: .5em;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  box-sizing: border-box; }

#program-committee td:first-child {
  font-weight: bold;
  line-height: 1; }

#program-committee td:nth-child(2) {
  font-size: 75%; }

.page-sponsor h1[data-contribution]::after {
  content: "Contribution of $" attr(data-contribution) " or more";
  display: block;
  margin-top: .3em;
  font-weight: 300;
  font-size: 50%;
  font-family: Lato, Helvetica Neue, sans-serif; }

.page-sponsor section ul {
  margin-bottom: 1em; }

.page-sponsor .sponsor {
  display: inline-block;
  vertical-align: top;
  max-width: 20em;
  margin: .3em .3em 0 0;
  border-radius: .1em;
  box-sizing: border-box;
  padding: .8em 1em;
  border: 2px dashed transparent;
  background: #edf4f7;
  font-size: 300%;
  line-height: 1;
  color: #94bdd1; }
  .page-sponsor .sponsor:last-of-type {
    background: transparent;
    border-color: #b8d3e0; }
  .page-sponsor .sponsor:hover {
    background: #dbe9f0;
    text-decoration: none; }
  .page-sponsor .sponsor img {
    display: block;
    max-width: 100%;
    margin: 0;
    height: 1em; }

.page-sponsor .platinum {
  color: #88847b; }

.page-sponsor .gold {
  color: #D4AF37; }

.page-sponsor .silver {
  color: #a9a59f; }

.page-sponsor .bronze {
  color: #d7995b; }

#acm-sponsors {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3em; }
  #acm-sponsors a {
    height: 6em; }
    #acm-sponsors a:not(:hover):not(:focus) {
      filter: sepia() grayscale(50%) hue-rotate(150deg); }
  #acm-sponsors img {
    height: 100%; }

#keynote article > a {
  position: relative;
  display: block; }
  #keynote article > a img {
    display: block; }
  #keynote article > a h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 6em;
    font-weight: bold;
    font-size: 240%;
    text-align: right; }
    #keynote article > a h1 > span {
      padding: .1em .3em;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      line-height: 1.6;
      background: #ff2b00;
      color: white;
      mix-blend-mode: hard-light; }

@media (min-width: 750px) {
  #keynote {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #keynote > h1 {
      width: 100%; }
    #keynote article {
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%; } }

/*# sourceMappingURL=style.css.map */
