@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,400,700,900&subset=latin-ext');

$body-font: Lato, Helvetica Neue, sans-serif;
$heading-font: Arvo, serif;
$icon-font: "UIST2017 Icons", emoji;

$accent-color: hsl(10, 100%, 50%);
$secondary-color: hsl(200, 40%, 50%);

// Add percentage of white to a color
@function tint($color, $percent){
	@return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
	@return mix(black, $color, $percent);
}

@mixin icon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 100%/1 $icon-font;
}

%inline-heading {
	float: left;
	padding: .3em .5em;
	border-radius: .3em;
	margin: 0 .4em 0 0;
	background: $accent-color;
	color: white;
	font: bold 80%/1.2 $body-font;
	text-transform: uppercase;

	a {
		color: inherit;
	}
}

@font-face {
	font-family: "UIST2017 Icons";
	src: url(../fonts/uist2017-icons.woff);
}

* { margin: 0; }

body {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	margin: 0;
	min-height: 100vh;
	background: white;
	font: 300 100%/1.5 $body-font;
	text-decoration-skip: ink;
	font-kerning: normal;
	font-synthesis: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: .5em 0;
	font-family: $heading-font;
	font-weight: normal;
	line-height: 1.2;

	& > a {
		font-weight: inherit;

		&.button {
			display: inline-block;
			vertical-align: .3em;
			padding: .3em .5em;
			background: tint($secondary-color, 90%);
			border-radius: .3em;
			font-size: 1rem;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}

	p & {
		color: shade($secondary-color, 20%);

		&[href^="http://"],
		&[href^="https://"] {
			&::after {
				content: " ↗️";
				color: $secondary-color; // for single color emoji
			}
		}
	}
}

img {
	max-width: 100%;
}

body > header {
	padding: 1em 0 0;
	background: linear-gradient(transparent, rgba(0,0,0,.4)),
	            url("../images/header.jpg") top / cover $secondary-color;
	color: white;
	text-align: center;
	font-size: 120%;
	text-shadow: 0 0 .5em rgba(0,0,0,.2);

	.register {
		display: inline-block;
		padding: .4em 1em .5em;
		border: .15em solid white;
		border-radius: .3em;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			background: white;
			color: black;
			mix-blend-mode: screen;
			text-shadow: none;
		}
	}

	.logo {
		font: inherit;
		filter: drop-shadow(0 0 .3em rgba(0,0,0,.3));

		&:hover {
			text-decoration: none;
		}
	}

	h1.wordmark {
		display: inline-block;
		margin: 0;
		margin-top: .1em;
		width: 4.2em;
		max-width: 100%;
		max-width: calc(100vw - 1.8em);
		font: 900 600%/.8 'Helvetica LT Black', 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif;

		img {
			width: 100%;
		}
	}

	h2 {
		font: inherit;
		font-size: 90%;
		line-height: 1;

		@media (max-width: 600px) {
			font-size: 80%;
		}
	}

	img[property=image] {
		display: block;
		height: 9.5em;
		margin: auto;
	}

	@media (max-width: 600px) {
		&:not(.compact) .logo {
			font-size: 60%;
		}
	}

	p {
		padding: .5em;
		font: 100%/1.6 $heading-font;

		@media (min-width: 800px) {
			position: absolute;
			top: 1rem;
			right: 1.5rem;
			text-align: right;
			font-size: 120%;
		}

		.place, time {
			display: block;

			&::before {
				@include icon;
				color: $accent-color;
				margin-right: .8rem;
			}
		}

		.place {
			&::before {
				content: "📍";
			}
		}

		time {
			font-weight: bold;
			font-size: 105%;

			&::before {
				content: "📅"
			}
		}
	}

	nav {
		margin-top: 2em;
		background: rgba(0,0,0,.4);

		ul {
			display: flex;
			padding: 0;
			list-style: none;
		}

		li {
			flex: 1;
		}

		a {
			display: block;
			padding: .3em .5em;

			&:hover {
				background: $accent-color;
				text-decoration: none;
				mix-blend-mode: screen;
			}
		}

		[aria-current] {
			box-shadow: 0 .3em black;

			a {
				box-shadow: 0 .3em $accent-color;
			}
		}
	}

	&.compact {
		background-position: 50% 15%;

		nav {
			margin-top: 1em;
		}

		.logo {
			display: flex;
			width: fit-content;
			margin-left: 2rem;
		}

		img[property=image] {
			height: 4.8em;
			margin-right: .5em;
		}

		hgroup {
			flex: 1;
			text-align: left;
			font-size: 65%;

			h2 {
				margin-bottom: 0;
			}
		}

		@media (max-width: 800px) {
			p {
				display: none;
			}
		}
	}
}

[aria-level="2"] {
	color: $accent-color;
	font-size: 220%;
}

[aria-level="3"] {
	font-weight: bold;
	color: $secondary-color;
	margin-top: 1.2em;
}

body > main {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 1em;

	& > h1 {
		padding: 0;
		color: hsl(200, 40%, 50%);
		font: 900 300%/1 $body-font;

		@media (min-width: 500px) {
			font-size: 450%;
		}

		a.button {
			font-size: 1.2rem;
		}
	}

	& > h2,
	& > section > h1 {
		@extend [aria-level="2"];
	}

	& > h3 {
		@extend [aria-level="3"];
	}

	section {
		margin: 1.5em 0;
	}

	& > section {
		& > section > h1,
		& > h2 {
			@extend [aria-level="3"];
		}


		& > section {
			h2, section h1 {
				@extend %inline-heading;
				margin-top: 1.2em;
				background: tint($secondary-color, 30%);

				& + p  {
					margin-top: 1em;
				}
			}
		}
	}

	& > * {
		width: 60rem;
		max-width: 90vw;

		@media (min-width: 1600px) {
			width: 75rem;
		}
	}

	:not(h1):not(h2):not(h3) + p {
		margin-top: 1em;
	}
}

body > footer {
	position: relative;
	padding: 1em;
	background: tint($secondary-color, 70%);
	font-weight: bold;

	small {
		display: block;
		color: rgba(0,0,0,.5);
	}

	@media (min-width: 500px) {
		display: flex;
		justify-content: center;
		align-items: center;

		& > :first-child {
			width: 46rem;
			max-width: calc(100vw - 18.5em);

			@media (min-width: 1600px) {
				width: 46rem + 15rem;
			}
		}
	}

	@media (min-width: 1300px) {
		@keyframes hue-rotate {
			to {
				filter: hue-rotate(360deg);
			}
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 1em;
			right: 1em;
			width: 100px;
			height: 120px;
			background: url("../logo.svg") center / contain no-repeat;
			animation: hue-rotate 25s linear infinite paused;
		}

		&:hover::before {
			animation-play-state: running;
		}
	}
}


.social {
	a {
		display: inline-block;
		min-width: 1em;
		padding: .6em;
		margin: 0 .1em;
		border-radius: 50%;
		color: white;
		text-decoration: none;
		text-align: center;
		@include icon;
		font-size: 120%;
		background: gray;
		background: var(--color);


		&:hover {
			color: gray;
			color: var(--color);
			background: white;
		}
	}

	// From https://brandcolors.net

	a[title="Facebook"] {
		--color: #3b5998;
	}

	a[title="Twitter"] {
		--color: #1da1f2;
	}

	a[title="YouTube"] {
		--color: #cd201f;
	}

	a[title="Flickr"] {
		--color: #ff0084;
	}

	a[title="Github"] {
		--color: #333;
	}
}

#welcome {
	color: rgba(0,0,0,.5);
	font-weight: bold;
	hyphens: auto;
	display: flex;
	flex-flow: column;

	p {
		margin: 0;
	}

	h1 {
		@extend %inline-heading;
	}

	strong, a {
		color: rgba(0,0,0,.7);
	}

	@media (min-width: 800px) {
		font-size: 125%;
		flex-flow: row;
	}

	@media (max-width: 401px) {

	}
}

#sponsors {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;

	.sponsor {
		display: flex;
		flex-flow: column;
		xmin-width: 12em;
		background: tint($secondary-color, 85%);
		padding: .5em;
		border-radius: .5em;
		margin: 0 1em 1em 0;

		h1 {
			@extend %inline-heading;
			margin-right: 0;
			background: tint($secondary-color, 50%);
			font-size: 100%;
		}

		a {
			margin: auto;
		}

		img {
			display: block;
			max-width: calc(100% - 2em);
			height: 3em;
			margin: 1.5em 1em;
			object-fit: contain;
		}

		&.platinum {
			font-size: 130%;
		}

		&.bronze {
			font-size: 60%;
		}

		span {
			font-size: 300%;
			font-weight: 100;
		}
	}
}

#registration {
    .centered {
        text-align: center;
    }

	.regbutton {
		background: $accent-color;
        color: white;
		padding: .5em 1.5em;
		border-radius: .5em;
		margin: 1.0em;
        display: inline-block;
        font-size: 100%;

		a {
			margin: auto;
		}

	}

    table.regprice {
        margin-bottom: 2em;
    }
}

table {
	width: 100%;
	border-spacing: 0;

	thead {
		color: rgba(0,0,0,.5);
		font: bold 100% $heading-font;
	}

	th, td {
		padding: .4em .5em;
	}

	th {
		text-align: left;
	}

	tbody {
		tr:nth-child(odd) {
			background: lighten($accent-color, 47%);
		}
	}
}

table.dates {
	margin: 1em 0;

	caption {
		color: $accent-color;
		font: bold 150%/1.5 $heading-font;
	}

	tbody {
		td {
			&:empty::before {
				content: "TBD";
			}
		}

		th {
			font-weight: normal;

			@media (min-width: 600px) {
				&[aria-label]::after {
					content: attr(aria-label);
					display: inline-block;
					padding: .4em .5em;
					margin-left: .5em;
					border-radius: .3em;
					background: rgba(0,0,0,.3);
					color: white;
					font: bold 80%/1 $body-font;
					text-transform: uppercase;
				}

				&[aria-label="deadline"]::after {
					background: lighten($secondary-color, 10%);
				}
			}
		}

		td {
			display: flex;

			time {
				font-weight: bold;
			}

			.countdown {
				flex: 1;
				color: rgba(0,0,0,.6);

				@media (min-width: 800px) {
					text-align: right;

					&::before {
						content: " (";
					}

					&::after {
						content: ")";
					}
				}
			}

			@media (max-width: 800px) {
				flex-flow: column;
			}
		}
	}
}

table#sponsorship-levels {
	min-width: 620px;
	border-collapse: collapse;
	table-layout: fixed;
	border: 2px solid hsl(0, 0%, 85%);

	td, th {
		border: 1px solid rgba(0,0,0,.1);
	}

	th {
		line-height: 1.4;
		text-align: center;

		@media (max-width: 900px) {
			hyphens: auto;
		}

		small {
			display: block;
			font-weight: normal;
			font-size: 70%;
		}

		@media (max-width: 800px) {
			small {
				display: none;
			}
		}
	}

	td {
		vertical-align: middle;
		height: 2.4rem;
	}

	th:nth-child(1) {
		width: 3em;
	}

	th:nth-child(2) {
		width: 3em;
	}

	th:nth-child(3) {
		width: 10%;
	}

	th:nth-child(4) {
		width: 18%;
	}

	tr:nth-child(2) th {
		font-size: 75%;
	}

	th:nth-child(n + 5):nth-child(-n + 7) {
		width: 12%;
	}

	@media (min-width: 900px) {
		// Free regs
		th:nth-child(3) {
			width: 12%;
		}

		td:nth-child(3)::after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			margin-left: .5em;
			--ticket-width: 1em;
			--ticket-height: var(--ticket-width);
			width: calc(var(--registrations) * var(--ticket-width) / var(--rows, 1));
			height: calc(var(--rows, 1) * var(--ticket-height));
			background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
				<circle r="40" cx="60" cy="50" fill="hsl(80,100%,40%)" />\
				</svg>');
			background-size: var(--ticket-width) var(--ticket-height);
			font-size: 110%;
		}
	}

	tbody {
		td:nth-child(n + 3):nth-child(-n + 9) { // 4-9
			background: hsla(80, 100%, 80%, .5);
			color: hsl(80, 100%, 30%);
			font-weight: bold;

			&:empty {
				background: hsla(0, 100%, 50%, .1);
				color: hsla(0, 70%, 40%, .7);

				&::before {
					content: "✘";
				}
			}
		}

		td:nth-child(n + 4):nth-child(-n + 9) {
			text-align: center;
		}

		tr:nth-child(odd) {
			background: hsl(0,0%, 97%);
		}
	}
}

#organizers {
	@media (min-width: 750px) {
		columns: 2;

		& > h1 {
			column-span: all;
		}
	}

	@media (min-width: 1600px) {
		columns: 3;
	}
}

#organizers > section,
section.organizers {
	break-inside: avoid; // for the future
	display: inline-block;  // workaround for lack
	width: 100%;            // of break-inside support
	box-sizing: border-box; // in Safari
	padding: .01em 1em .5em;
	margin: .6em 0;
	border-radius: .3em;
	border: .1em solid tint($secondary-color, 75%);
	background: tint($secondary-color, 86%);

	& > h1 {
		margin-bottom: .0em;
		font-size: 120%;
	}

	a[href^=mailto] {
		display: block;
		margin-bottom: .8em;
		font-weight: 400;
		color: $secondary-color;

		@keyframes wobble {
			33.3%  { transform: rotate(10deg); }
			66.6%  { transform: rotate(-10deg); }
		}

		&::before {
			content: "✉";
			display: inline-block;
			margin-right: .4em;
			@include icon;
			color: $accent-color;
			animation: wobble .5s infinite paused;
		}

		&:hover::before {
			animation-play-state: running;
			color: $secondary-color;
		}
	}

	article {
		margin: .5em 0;
		clear:both;

		h1 {
			margin: 0;
			font-weight: bold;
			font-size: 120%;
		}

		& > a {
			font-weight: 300;
		}

		img {
			float: left;
			width: 3em;
			height: 3em;
			margin-right: 1em;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

#toc {
	padding: .8em 0;
	margin-bottom: 1em;
	$bg: tint($secondary-color, 92%);
	background: $bg;
	box-shadow: -50vw 0 $bg, 50vw 0 $bg;

	&.compact {
		@media (min-width: 500px) {
			&::before {
				content: "Jump to section: ";
				text-transform: uppercase;
				font-size: 80%;
				font-weight: 900;
				color: $secondary-color;
			}
		}

		a {
			display: inline-block;
			padding: .1em .5em;
			margin: .2em;
			border-radius: .3em;
			background: tint($secondary-color, 75%);
			font-weight: 900;

			&:hover {
				background: $secondary-color;
				color: tint($secondary-color, 75%);
				text-decoration: none;
			}
		}
	}

	&:not(.compact) {
		@media (min-width: 800px) {
			column-count: 2;
		}

		&::before {
			content: "On this page";
			display: block;
			font-weight: 900;
			font-size: 150%;
			color: $secondary-color;
			column-span: all;
		}

		a {
			display: block;
		}
	}
}

#program-committee {
	@media (min-width: 550px) {
		table {
			columns: 2;
		}

		thead {
			column-span: all;
		}
	}

	tr, td, table, thead, tbody {
		display: block;
	}

	tr {
		padding: .5em;
		break-inside: avoid; // for the future
		display: inline-block;  // workaround for lack
		width: 100%;            // of break-inside support
		box-sizing: border-box; // in Safari
	}

	td:first-child {
		font-weight: bold;
		line-height: 1;
	}

	// Affiliation
	td:nth-child(2) {
		font-size: 75%;
	}
}

.page-sponsor {
	h1[data-contribution]::after {
		content: "Contribution of $" attr(data-contribution) " or more";
		display: block;
		margin-top: .3em;
		font-weight: 300;
		font-size: 50%;
		font-family: $body-font;
	}

	section ul {
		margin-bottom: 1em;
	}

	.sponsor {
		display: inline-block;
		vertical-align: top;
		max-width: 20em;
		margin: .3em .3em 0 0;
		border-radius: .1em;
		box-sizing: border-box;
		padding: .8em 1em;
		border: 2px dashed transparent;
		background: tint($secondary-color, 90%);
		font-size: 300%;
		line-height: 1;
		color: tint($secondary-color, 40%);

		&:last-of-type {
			background: transparent;
			border-color: tint($secondary-color, 60%);
		}

		&:hover {
			background: tint($secondary-color, 80%);
			text-decoration: none;
		}

		img {
			display: block;
			max-width: 100%;
			margin: 0;
			height: 1em;
		}
	}

	.platinum {
		color:#88847b;
	}

	.gold {
		color: #D4AF37;
	}

	.silver {
		color: #a9a59f;
	}

	.bronze {
		color: #d7995b;
	}
}

#acm-sponsors {
	display: flex;
	justify-content: space-between;
	margin-top: 3em;

	a {
		height: 6em;

		&:not(:hover):not(:focus) {
			filter: sepia() grayscale(50%) hue-rotate(150deg);
		}
	}

	img {
		height: 100%;
	}
}

#keynote {
	article {
		& > a {
			position: relative;
			display: block;

			img {
				display: block;
			}

			h1 {
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: 6em;

				font-weight: bold;
				font-size: 240%;
				text-align: right;

				& > span {
					padding: .1em .3em;
					box-decoration-break: clone;
					line-height: 1.6;
					background: $accent-color;
					color: white;
					mix-blend-mode: hard-light;
				}
			}
		}
	}

	@media (min-width: 750px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& > h1 {
			width: 100%;
		}

		article {
			flex-basis: 49%;
		}
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

iframe {
	border: 0;
}

.page-schedule {
	iframe {
		flex: 1;
	}

	& > footer {
		display: none;
	}
}
