@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,400,700,900&subset=latin-ext");
@font-face {
  font-family: "UIST2017 Icons";
  src: url(../fonts/uist2017-icons.woff); }

* {
  margin: 0; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin: 0;
  min-height: 100vh;
  background: white;
  font: 300 100%/1.5 Lato, Helvetica Neue, sans-serif;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  font-kerning: normal;
  font-synthesis: none; }

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
  font-family: Arvo, serif;
  font-weight: normal;
  line-height: 1.2; }
  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-weight: inherit; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }
  p a {
    color: #36657d; }

body > header {
  padding: 1em 0 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../images/header.jpg") top/cover #4d91b3;
  color: white;
  text-align: center;
  font-size: 120%;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2); }
  body > header .register {
    display: inline-block;
    padding: .4em 1em .5em;
    border: .15em solid white;
    border-radius: .3em;
    font-weight: bold; }
    body > header .register:hover {
      text-decoration: none;
      background: white;
      color: black;
      mix-blend-mode: screen;
      text-shadow: none; }
  body > header .logo {
    font: inherit;
    filter: drop-shadow(0 0 0.3em rgba(0, 0, 0, 0.3)); }
    body > header .logo:hover {
      text-decoration: none; }
  body > header h1.wordmark {
    display: inline-block;
    margin: 0;
    margin-top: .1em;
    max-width: 100%;
    background: url(../wordmark.svg) no-repeat top/contain;
    color: transparent;
    text-shadow: none;
    overflow: hidden;
    font: 900 600%/.8 'Helvetica LT Black', 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif; }
    body > header h1.wordmark time {
      font-family: 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif;
      font-weight: 300;
      letter-spacing: -.02em; }
  body > header h2 {
    font: inherit;
    font-size: 90%;
    line-height: 1; }
  body > header img {
    display: block;
    height: 9.5em;
    margin: auto; }
  @media (max-width: 600px) {
    body > header:not(.compact) .logo {
      font-size: 60%; } }
  body > header p {
    padding: .5em;
    font: 100%/1.6 Arvo, serif; }
    @media (min-width: 800px) {
      body > header p {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        text-align: right;
        font-size: 120%; } }
    body > header p .place, body > header p time {
      display: block; }
      body > header p .place::before, body > header p time::before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 100%/1 "UIST2017 Icons", emoji;
        color: #ff2b00;
        margin-right: .8rem; }
    body > header p .place::before {
      content: "📍"; }
    body > header p time {
      font-weight: bold;
      font-size: 105%; }
      body > header p time::before {
        content: "📅"; }
  body > header nav {
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.4); }
    body > header nav ul {
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      list-style: none; }
    body > header nav li {
      -ms-flex: 1;
      flex: 1; }
    body > header nav a {
      display: block;
      padding: .3em .5em; }
      body > header nav a:hover {
        background: #ff2b00;
        text-decoration: none;
        mix-blend-mode: screen; }
    body > header nav .current {
      box-shadow: 0 .3em black; }
      body > header nav .current a {
        box-shadow: 0 0.3em #ff2b00; }
  body > header.compact {
    background-position: 50% 15%; }
    body > header.compact nav {
      margin-top: 1em; }
    body > header.compact .logo {
      display: -ms-flexbox;
      display: flex;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: 2rem; }
    body > header.compact img {
      height: 4.8em;
      margin-right: .5em; }
    body > header.compact hgroup {
      -ms-flex: 1;
      flex: 1;
      text-align: left;
      font-size: 65%; }
      body > header.compact hgroup h1.wordmark {
        background-position: left; }
      body > header.compact hgroup h2 {
        margin-bottom: 0; }
    @media (max-width: 800px) {
      body > header.compact p {
        display: none; } }

body > main {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em; }
  body > main > h1 {
    padding: 0;
    color: #4d91b3;
    font: 900 450%/1 Lato, Helvetica Neue, sans-serif; }
  body > main > h2,
  body > main > section > h1 {
    color: #ff2b00;
    font-size: 220%; }
  body > main section {
    margin: 1.5em 0; }
  body > main > section > section > h1,
  body > main > section > h2 {
    font-weight: bold;
    color: #4d91b3; }
  body > main > * {
    width: 60rem;
    max-width: 90vw; }
    @media (min-width: 1600px) {
      body > main > * {
        width: 75rem; } }

body > footer {
  position: relative;
  padding: 1em;
  background: #c9dee8;
  font-weight: bold; }
  body > footer small {
    display: block;
    color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 500px) {
    body > footer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center; }
      body > footer > :first-child {
        width: 46rem;
        max-width: calc(100vw - 18.5em); } }
    @media (min-width: 500px) and (min-width: 1600px) {
      body > footer > :first-child {
        width: 61rem; } }
  @media (min-width: 1300px) {
    @keyframes hue-rotate {
      to {
        filter: hue-rotate(360deg); } }
    body > footer::before {
      content: "";
      position: absolute;
      bottom: 1em;
      right: 1em;
      width: 100px;
      height: 120px;
      background: url("../logo.svg") center/contain no-repeat;
      animation: hue-rotate 25s linear infinite paused; }
    body > footer:hover::before {
      animation-play-state: running; } }

.social a {
  display: inline-block;
  min-width: 1em;
  padding: .6em;
  margin: 0 .1em;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100%/1 "UIST2017 Icons", emoji;
  font-size: 120%;
  background: gray;
  background: var(--color); }
  .social a:hover {
    color: gray;
    color: var(--color);
    background: white; }

.social a[title="Facebook"] {
  --color: #3b5998; }

.social a[title="Twitter"] {
  --color: #1da1f2; }

.social a[title="YouTube"] {
  --color: #cd201f; }

.social a[title="Flickr"] {
  --color: #ff0084; }

.social a[title="Github"] {
  --color: #333; }

#welcome {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  #welcome h1 {
    display: inline;
    padding: .3em .5em;
    border-radius: .3em;
    margin: 0;
    background: #ff2b00;
    color: white;
    font: bold 80%/1.5 Lato, Helvetica Neue, sans-serif;
    text-transform: uppercase; }
    #welcome h1 a {
      color: inherit; }
  #welcome strong, #welcome a {
    color: rgba(0, 0, 0, 0.7); }
  @media (min-width: 800px) {
    #welcome {
      font-size: 125%; } }
  #welcome p {
    display: inline; }

table {
  width: 100%;
  border-spacing: 0; }
  table thead {
    color: rgba(0, 0, 0, 0.5);
    font: bold 100% Arvo, serif; }
  table th, table td {
    padding: .4em .5em; }
  table th {
    text-align: left; }

table.dates {
  margin: 1em 0; }
  table.dates caption {
    color: #ff2b00;
    font: bold 150%/1.5 Arvo, serif; }
  table.dates tbody td:empty::before {
    content: "TBD"; }
  table.dates tbody tr:nth-child(odd) {
    background: #ffeae6; }
  table.dates tbody th {
    font-weight: normal; }
    @media (min-width: 600px) {
      table.dates tbody th[aria-label]::after {
        content: attr(aria-label);
        display: inline-block;
        padding: .4em .5em;
        margin-left: .5em;
        border-radius: .3em;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font: bold 80%/1 Lato, Helvetica Neue, sans-serif;
        text-transform: uppercase; }
      table.dates tbody th[aria-label="deadline"]::after {
        background: #70a7c2; } }
  table.dates tbody td {
    display: -ms-flexbox;
    display: flex; }
    table.dates tbody td time {
      font-weight: bold; }
    table.dates tbody td .countdown {
      -ms-flex: 1;
      flex: 1;
      color: rgba(0, 0, 0, 0.6); }
      @media (min-width: 800px) {
        table.dates tbody td .countdown {
          text-align: right; }
          table.dates tbody td .countdown::before {
            content: " ("; }
          table.dates tbody td .countdown::after {
            content: ")"; } }
    @media (max-width: 800px) {
      table.dates tbody td {
        -ms-flex-flow: column;
        flex-flow: column; } }

@media (min-width: 750px) {
  #organizers {
    -moz-columns: 2;
    columns: 2; }
    #organizers > h1 {
      -moz-column-span: all;
      column-span: all; } }

@media (min-width: 1600px) {
  #organizers {
    -moz-columns: 3;
    columns: 3; } }

#organizers > section,
section.organizers {
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: .01em 1em .5em;
  margin: .6em 0;
  border-radius: .3em;
  border: 0.1em solid #c9dee8;
  background: #e6f0f4; }
  #organizers > section > h1,
  section.organizers > h1 {
    margin-bottom: .0em;
    font-size: 120%; }
  #organizers > section a[href^=mailto],
  section.organizers a[href^=mailto] {
    display: block;
    margin-bottom: .8em;
    font-weight: 400;
    color: #4d91b3; }

@keyframes wobble {
  33.3% {
    transform: rotate(10deg); }
  66.6% {
    transform: rotate(-10deg); } }
    #organizers > section a[href^=mailto]::before,
    section.organizers a[href^=mailto]::before {
      content: "✉";
      display: inline-block;
      margin-right: .4em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font: 100%/1 "UIST2017 Icons", emoji;
      color: #ff2b00;
      animation: wobble .5s infinite paused; }
    #organizers > section a[href^=mailto]:hover::before,
    section.organizers a[href^=mailto]:hover::before {
      animation-play-state: running;
      color: #4d91b3; }
  #organizers > section article,
  section.organizers article {
    margin: .5em 0;
    clear: both; }
    #organizers > section article h1,
    section.organizers article h1 {
      margin: 0;
      font-weight: bold;
      font-size: 120%; }
    #organizers > section article > a,
    section.organizers article > a {
      font-weight: 300; }
    #organizers > section article img,
    section.organizers article img {
      float: left;
      width: 3em;
      height: 3em;
      margin-right: 1em;
      object-fit: cover;
      border-radius: 50%; }

#toc.compact::before {
  content: "Jump to section: "; }

#toc.compact a {
  display: inline-block;
  padding: .1em .5em;
  margin-right: .3em;
  border-radius: .3em;
  background: #e6f0f4; }

/*# sourceMappingURL=style.css.map */
