@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,400,700,900&subset=latin-ext');

$font-body: Lato, Helvetica Neue, sans-serif;
$font-heading: Arvo, serif;
$font-icons: "UIST2017 Icons", emoji;

@font-face {
	font-family: "UIST2017 Icons";
	src: url(../fonts/uist2017-icons.woff);
}

* { margin: 0; }

body {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	margin: 0;
	min-height: 100vh;
	background: white;
	font: 100 100%/1.5 $font-body;
	text-decoration-skip: ink;
	font-kerning: normal;
	font-synthesis: none;
}

body > header {
	padding: 1em 1.5em 1.8em;
	background: linear-gradient(transparent, rgba(0,0,0,.5)),
	            url("../images/header.jpg") 50% 20% / cover hsl(220, 20%, 40%);
	color: white;
	text-align: center;
	font-size: 120%;
	text-shadow: 0 0 .5em rgba(0,0,0,.5);

	.register {
		display: inline-block;
		padding: .4em 1em .5em;
		border: .15em solid white;
		border-radius: .3em;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			background: white;
			color: black;
			mix-blend-mode: screen;
			text-shadow: none;
		}
	}

	h1 {
		font: 900 600%/1 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif;

		img {
			display: block;
			height: 1.8em;
			margin: auto;
		}

		time {
			font-weight: 100;
			letter-spacing: -.04em;
		}
	}

	h2 {
		font: inherit;
		font-size: 95%;
		line-height: 1;
	}

	p {
		position: absolute;
		top: 1em;
		right: 1em;
		font: 150% $font-heading;
		text-align: right;

		.place, time {
			display: block;

			&::before {
				font: 100% $font-icons;
				color: red;
				margin-right: .4rem;
			}
		}

		.place {
			&::before {
				content: "📍";
			}
		}

		time {
			font-weight: bold;
			font-size: 105%;

			&::before {
				content: "📅"
			}
		}
	}
}

body > main {
	flex: 1;
	max-width: 60rem;
	margin: auto;
	padding: 1em;
}

body > footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background: hsl(220, 10%, 90%);
	font-weight: bold;

	& > p {
		min-width: 20em;
	}


}


.social {
	a {
		display: inline-block;
		min-width: 1em;
		padding: .6em;
		border-radius: 50%;
		color: white;
		text-decoration: none;
		text-align: center;
		font: 120%/1 $font-icons;
		background: gray;
		background: var(--color);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&:hover {
			color: var(--color);
			background: white;
		}
	}

	// From https://brandcolors.net

	a[title="Facebook"] {
		--color: #3b5998;
	}

	a[title="Twitter"] {
		--color: #1da1f2;
	}

	a[title="YouTube"] {
		--color: #cd201f;
	}

	a[title="Flickr"] {
		--color: #ff0084;
	}

	a[title="Github"] {
		--color: #333;
	}
}
