@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:300,400,700,900&subset=latin-ext');

$font-body: Lato, Helvetica Neue, sans-serif;
$font-heading: Arvo, serif;

* { margin: 0; }

body {
	margin: 0;
	background: white;
	font: 100 100%/1.5 $font-body;
	text-decoration-skip: ink;
	font-kerning: normal;
}

body > header {
	padding: 1em 1.5em 1.8em;
	background: linear-gradient(transparent, rgba(0,0,0,.5)),
	            url("../images/header.jpg") 50% 20% / cover hsl(220, 20%, 40%);
	color: white;
	text-align: center;
	font-size: 120%;
	text-shadow: 0 0 .5em rgba(0,0,0,.5);

	.register {
		display: inline-block;
		padding: .4em 1em .5em;
		border: .15em solid white;
		border-radius: .3em;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			background: white;
			color: black;
			mix-blend-mode: screen;
			text-shadow: none;
		}
	}

	h1 {
		font: 900 600%/1 'Helvetica Neue', Helvetica, Arial, sans-serif;

		img {
			display: block;
			height: 2em;
			margin: auto;
		}

		time {
			font-weight: 100;
			letter-spacing: -.04em;
		}
	}

	h2 {
		font: inherit;
		font-size: 95%;
		line-height: 1;
	}

	p {
		position: absolute;
		top: 1em;
		right: 1em;
		font: 150% $font-heading;
		text-align: right;

		.place, time {
			display: block;

			&::before {
				margin-right: .4rem;
			}
		}

		.place {
			&::before {
				content: "\1F1E8\1F1E6"; /* Canadian flag emoji */
			}
		}

		time {
			font-weight: bold;
			font-size: 105%;

			&::before {
				content: "📅"
			}
		}
	}
}
