</main>

<footer>
	<div>
		&copy; <a href="http://www.sigchi.org">ACM SIGCHI</a> 2017
		<small>
			Header photo credits: <a href="https://www.flickr.com/photos/junksnowgirl/30161358185/">flickr.com/photos/junksnowgirl/30161358185</a>
			<br>Logo inspired by <a href="http://impossibleobjects.com/catalogue/coffeepot-for-masochists.html">Jacques Carelman’s “Coffeepot for masochists”</a>
		</small>
	</div>
	<div class="social">
		<a title="Facebook" href="https://www.facebook.com/ACMUIST" target="_blank">
			f
		</a>
		<a title="Twitter" href="https://twitter.com/ACMUIST" target="_blank">
			🐦
		</a>
		<a title="YouTube" href="https://www.youtube.com/user/acmsigchi/playlists?view=50&sort=dd&shelf_id=6" target="_blank">
			📽
		</a>
		<a title="Flickr" href="https://www.flickr.com/photos/acmuist/" target="_blank">
			📷
		</a>
		<a title="Github" href="https://github.com/leaverou/uist2017" target="_blank">
			🐱
		</a>
	</div>
</footer>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>
<script src="js/bliss.min.js"></script>
<script src="js/index.js"></script>

</body>
</html>
