<!DOCTYPE html>
<html lang="en" vocab="http://schema.org" prefix="og: http://ogp.me/ns#">
<head>

<meta charset="UTF-8">
<title>@@title</title>
<base href="/uist2017/" />
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/style.css">
<link rel="shortcut icon" href="logo.svg">
<link rel="canonical" href="https://uist.acm.org/uist2017/">

<meta property="og:image" content="https://uist.acm.org/uist2017/images/fb.jpg" />

</head>
<body typeof="Event">

<header @@if (compact !== false) { class="compact" }>
	<a href="/uist2017" class="logo">
		<img src="logo.svg" height="100" alt="Logo: Pixelated masochist teapot" property="image">
		<hgroup>
			<h1 class="wordmark"><img src="wordmark.svg" /></h1>
			<h2 property="name">30th ACM User Interface Software and Technology Symposium</h2>
		</hgroup>
	</a>

	<p>
		<span class="place" property="location">Quebec City, Canada</span>
		<time datetime="2017-10-22" property="startDate">October 22-25, 2017</time>
	</p>
	<nav>
		<ul>
			<li><a href="cfp">CFP</a></li>
			<li><a href="#dates">Dates</a></li>
			<li><a href="#organizers">Organizers</a></li>
			<li><a href="sponsor">Sponsor</a></li>
		</ul>
	</nav>
</header>

<main>
